@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   width: 100%;
   height: 600px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-image: url(https://wallpapercave.com/wp/eDh7F42.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    position: relative;
    width: 100%;
    height: 100%;
    flex-basis: 95%;
    padding: 1vw 2vw;
    overflow: hidden;
}

.main::before{
    position: absolute;
    font-family: 'Koulen', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 12vw;
    color: var(--color-white);
    width: 700px;
    height: 100%;
    background: var(--background-color-2);
    border-radius:100% 0% 14% 86% / 0% 100% 0% 100%;
    right: 0;
    top: 0;
    z-index: -9;
    filter: blur(2px);
}

.sidebar{
    width: 100%;
    height: 100%;
    flex-basis: 5%;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -10%;
    animation: navbar 1s forwards;
    animation-delay: 1s;
}

@keyframes navbar{
    0%{
        top: -10%;
    }
    100%{
        top: 0;
    }
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 1.3vw;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    color:#2d6a4f;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 10px 30px 10px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.text{
    flex-basis: 60%;
}

.text h2{
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    font-weight: 200;
    line-height: 0;
    color: white;
}
.text h1{
    font-size: 10vw;
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
    line-height: 1.2;
    color: white;
    letter-spacing: 0.01em;
}
.specification{
    position: absolute;
    right: 5vw;
    bottom: -25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    border-radius: 25px;
    height: 10vh;
    gap: 30px;
}
.specification span{
    color:black;
    font-weight: 500;
}
.dropdown {
    position: relative;
    display: flex;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
.dropdown:hover .dropdown-content {
    display: inline-block;
    position: absolute;
}
.container1 {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position:absolute;

}
.border:hover {
    border: 1px solid #fff;
}
.card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card0 {
    background: url("https://hips.hearstapps.com/hmg-prod/images/run-nike-running-shoes-1661870227.jpg?crop=0.5xw:1xh;center,top&resize=1200:*")
    center center no-repeat;
    background-repeat: no-repeat;
    background-size: 380px;
    filter: grayscale(100%);
}
.card0:hover {
    background: url("https://hips.hearstapps.com/hmg-prod/images/run-nike-running-shoes-1661870227.jpg?crop=0.5xw:1xh;center,top&resize=1200:*")
        left center no-repeat;
    background-size: 600px;
    filter: grayscale(100%);
}
.card0:hover h2 {
    opacity: 1;
}
.card1 {
    background: url("https://img2.exportersindia.com/product_images/bc-full/2023/4/11869425/mens-nike-sports-shoes-1680339937-6829447.jpeg")
    center center no-repeat;
    background-repeat: no-repeat;
    background-size: 380px;
    filter: grayscale(100%);
    margin-right: 30%;
}
.card1:hover {
    background: url("https://img2.exportersindia.com/product_images/bc-full/2023/4/11869425/mens-nike-sports-shoes-1680339937-6829447.jpeg")
        left center no-repeat;
    background-size: 600px;
    filter: grayscale(100%);
}
.card1:hover h2 {
    opacity: 1;
}
.card2{
    background: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/f969f063-db1a-482b-afce-382579f0e44c/juniper-trail-2-next-nature-trail-running-shoes-7r8pf0.png")
    center center no-repeat;
    background-repeat: no-repeat;
    background-size: 380px;
    filter: grayscale(100%);
}
.card2:hover {
    background: url("https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/f969f063-db1a-482b-afce-382579f0e44c/juniper-trail-2-next-nature-trail-running-shoes-7r8pf0.png")
        left center no-repeat;
    background-size: 600px;
    filter: grayscale(100%);
}
.card2:hover h2 {
    opacity: 1;
}.card3 {
    background: url("https://images.meesho.com/images/products/67628271/agf90_512.webp")
    center center no-repeat;
    background-repeat: no-repeat;
    background-size: 380px;
    filter: grayscale(100%);
}
.card3:hover {
    background: url("https://images.meesho.com/images/products/67628271/agf90_512.webp")
        left center no-repeat;
    background-size: 600px;
    filter: grayscale(100%);
}
.card3:hover h2 {
    opacity: 1;
}
h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:black;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}
.container1 .btn {
    width: 60%;
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container1 .btn:hover {
    background-color: black;
    color: white;
  }
 
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
    color: #000;
    background-color: #f1f1f1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .container {
    padding: 16px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
    .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
    height: 40%;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }